<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beehive monitor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="home_body">
    <div class="home_container">
        <div class="home_buttons">
            <a class="h_a" href="{{url_for('login')}}"><button>LOGIN</button></a>
            <a class="h_a" href="{{url_for('register')}}"><button>REGISTER</button></a>
        </div>
    
        <div class="home_logo">
            <h1>D&A</h1>
            <h1 style="margin-top: -20px;">BEEHIVE MONITORING</h1>
            <h3>Is your Queen Bee Present?</h3>
        </div>
        
        <div class="content">
            <p class="p_home">WELCOME TO D&A BEEHIVE MONITORING</p>
        </div>

        <div class="home_about">
            <p class="abt"><span style="margin-right: 5px;">Email:</span><span>d&abeehivemonitoring@gmailo.com</span></p>
            <div class="abt" style="margin-right: 5px;">Tel:</div><div class="abt">0703203625</div><div class="abt">0774028420</div>
        </div>
    </div>
</body>
</html>
