

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beehive monitor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        
    <script type="text/javascript" src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('my response', function(msg) {
            document.getElementById("message").textContent = msg.data;
        });
    </script>

</head>
<body>
    <nav>
        <div class="logo1">
            <img decoding="async" src="/static/logo.png" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="bars1"></div>
            <div class="bars2"></div>
            <div class="bars3"></div>
        </div>
        <ul class="nav-links">
          <li><a href="{{url_for('account')}}">ACCOUNT</a></li>
          <li><a href="{{url_for('about')}}">ABOUT</a></li>
          <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
        </ul>
        <div class="classification"style="width: 100%; height: 30px;"><div style="margin-right: 10px;">Your queen bee is</div><div id="message" ></div></div>
        <div class="profile_cont">
            <a href="{{url_for('update')}}"><img  class="profile" src="{{ url_for('static', filename='uploads/' + user.profile_pic) }}" alt="Profile Picture"></a>
            <b><p style="margin-left: -5px; color: white; font-size: 13px;">{{user.username}}</p></b>
        </div>                
    </nav>
    <div class="container">        
        <div class="content">
            <div class="post_cont" style="margin-top: -5px;">
                <li class="post_li">
                    {{ question.content }}<br>
                </li>
                <li class="post_details">
                    <p style="font-size: 10px; margin-right: 40px;">Posted by {{ question.author.username }} on {{ question.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>    
                    {% if current_user == question.author %}
                    <a href="{{ url_for('edit_question', question_id=question.id) }}">Edit</a>
                    {% endif %}            
                </li>
            </div>            
            <h3 style="color: rgb(94, 80, 0); margin-top: 10px; font-size: 110%;">Replies:</h3>
            <a style="text-decoration: none;" href="#reply"><h1 class="add_reply">Add Reply</h1></a>
            <ul class="rep_cont">
                {% for reply in replies %}
                    <li>
                        <div style="font-size: 17px; font-weight: bold;">{{ reply.author.username }}:</div>
                        <div style="font-size: 15px;">{{ reply.content }}</div>
                    </li>
                {% endfor %}
            </ul>
            <form class="quest_form" action="{{ url_for('add_reply', question_id=question.id) }}" method="post">
                <label for="reply">Add a reply:</label><br>
                <textarea name="reply" id="reply" rows="4" cols="50"></textarea><br>
                <input type="submit" value="Reply">
            </form>
        </div>

        <div class="about" >
            <p class="abt"><div style="margin-right: 5px;">Email:</div><div>d&abeehivemonitoring@gmailo.com</div></p>
            <div class="abt" style="margin-right: 5px;">Tel:</div><div class="abt">0703203625</div><div class="abt">0774028420</div>
        </div>
    </div>


    <script>
      const hamburger = document.querySelector(".hamburger");
      const navLinks = document.querySelector(".nav-links");
      const links = document.querySelectorAll(".nav-links li");

      hamburger.addEventListener('click', ()=>{
        //Links
          navLinks.classList.toggle("open");
          links.forEach(link => {
              link.classList.toggle("fade");
          });

          //Animation
          hamburger.classList.toggle("toggle");
      });
    </script>
</body>
</html>

  